* {
    box-sizing: border-box;
}
html{
    background-color:whitesmoke
}
body {
    margin: 0;
}
img{
    display: block;
    max-width: 100%; /** opcional. es posible ponerlo aca o luego en la clase de las fotos**/
}
.container-flex {    
    display: flex;
    justify-content: space-between;
}

/** Estilos del Header **/

.main-header {
    padding: 0px 15px;
}
.main-title{
    color: antiquewhite;
    -webkit-text-stroke: 0.40px black;
    font-size: 1.9em;
    width: auto;
    text-align: left;
    margin-top: 25px;
}
.color-span{
    color:darksalmon;
    -webkit-text-stroke: 0.30px black;
}

/** Estilos del Menu **/

.icon-menu{
    font-size: 1.5em;
    color: darkorange;
    border: 1px solid antiquewhite;
    display: block;
    margin: 20px;
    padding: 5px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s;
}
.icon-menu:hover{
    color: white;
    border: 0.5px solid darkorange;
    -webkit-text-stroke: 0.10px black;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.6)
}  
.menu{
    position: absolute;
    top: 70;
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 20;
    margin: 0;
    z-index: 999;
    opacity: 0; /** estos dos se lo agrego para que con la **/
    visibility: hidden; /** clase Mostrar de Java, me aparezca **/
    transition: all 0.5s;
}
.menu-item{
    padding: 20px;
    text-align: center;
    width: 150px;
    margin: auto;
}
.menu-link{
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}
.menu-link::before{
    content:"";  
    position: absolute;
    width: 5px;
    height: 5px; 
    border-right: 0.5px solid darkorange;
    border-top: 0.5px solid darkorange;
    top: 0;
    right: 0;
    opacity: 0;
}
.menu-link::after{
    content:"";  
    position: absolute;
    width: 5px;
    height: 5px; 
    border-left: 0.5px solid darkorange;
    border-bottom: 0.5px solid darkorange;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.menu-link span::before{
    content:"";  
    position: absolute;
    width: 5px;
    height: 5px; 
    border-left: 0.5px solid darkorange;
    border-top: 0.5px solid darkorange;
    top: 0;
    left: 0;
    opacity: 0;
}
.menu-link span::after{
    content:"";  
    position: absolute;
    width: 5px;
    height: 5px; 
    border-right: 0.5px solid darkorange;
    border-bottom: 0.5px solid darkorange;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.menu-link span{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.menu-link-select::before, .menu-link-select::after, 
.menu-link-select span::before, .menu-link-select span::after{
    opacity: 1;
}
.menu-item:hover .menu-link::before, .menu-item:hover .menu-link::after,
.menu-item:hover .menu-link span::before, .menu-item:hover .menu-link span::after
{
opacity: 1;
} /** Todo esto para que el cursos se vaya moviendo en cada opción del menu **/

/** Estilo de los iconos de redes sociales *¨*/

.nav-social{
    display: flex;
    justify-content: center;
}
.nav-social-item{
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}
.nav-social-item:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(255,255,255,0.7)
}  
.nav-social-item:first-child{
    background: lightslategray;
}
.nav-social-item:nth-child(2){
    background: #3b5998;
}
.nav-social-item:nth-child(3){
    background: lightyellow;
}
.nav-social-item:nth-child(4){
    background: #3bb3f5;
}
.fa-envelope{
    color: white;
}
.fa-linkedin{
    color: white;
}
.fa-instagram-square{
    color:hotpink;
}
.fa-twitter{
    color: white;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}

/** Estilos del Banner **/

.banner{
    background: url(img/vistamontaña.jpg);
    background-size: cover;
    position: absolute;
    min-height: 450px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999;
}
.banner::before{
    content:""; /**aunque no ponga nada, tiene que estar sino no hace el efecto**/
    width: 100%;
    min-height: 450px; /**debe ser el mismo que el de la foto de fondo**/
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.banner-content{
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 1.5rem;
    transform: translateX(-50%) translateY(-50%)  
    
}

.banner-title{
    text-align: center;
    color: antiquewhite;
    -webkit-text-stroke: 0.40px black;
}

.banner-text{
    text-align: center;
    color: antiquewhite;
    font-style: italic;
    -webkit-text-stroke: 0.25px black;
}

/** Estilos de Main **/

.main{
    margin-top: 375px ;
    /**padding:15px; -- da un espacio en blanco al ancho de la pagina **/
}
.welcome{
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 950px;
}
.section-title{
    font-size: 2em;
    text-align: center;
    position: relative;
}
.section-title::before{
    content: "";
    width: 130px;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    height: 0.8px;
    background: darkslategray;
}
.welcome-text{
    font-size: 1.1em;
    text-align: justify;
    color: #777;
}
.welcome-button{
    display: block;
    background: white;
    border: 0.5px solid grey;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    padding: 10px;  
    text-decoration:underline lightblue 0.5px;
    text-align: center;
    color: cornflowerblue;
    -webkit-text-stroke: 0.10px black;
    font-size: 1.2em;
    font-weight: bold;      
    margin-top: 10px;
    transition: all 0.6s;
}
.welcome-button:hover{
    background: cornflowerblue;
    color: white;
    cursor: pointer;
    border: 0.5px solid grey;
    -webkit-text-stroke: 0.10px black;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.6)       
}

/** parte de las 4 fotos juntas  **/

.container-learn{
    margin: 20px 0px;
    
}
.learn-item{
    position:relative;
}
            /** Oscurecer la imagen para que sobresalga el texto **/
.learn-item::before{
    content:""; 
    width: 100%;    /** para que la sombra me cubra todo **/
    height: 100%;    /** a lo largo y a lo ancho **/
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;

} 

.learn-title{
    position: absolute;      /** Ver comentarios debajo **/
    color: white;
    font-size: 1.8em;
    -webkit-text-stroke: 0.40px black;
    width: 100%;
    text-align: center;
    top: 40%;    /** cuando tengo "Position Absolute" debo usar estos**/
    left: 50%;      /** tres atributos para que me quede el **/
    transform: translateX(-50%) translateY(-50%)    /** titulo centrado**/
}
.learn-title::before{
    content: "";
    width: 100px;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    background: antiquewhite;
}
.learn-title::after{
    content: "";
    width: 100px;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    background: antiquewhite; 
}
.learn-img{
    
}
.container-learn, .learn-item{
    cursor: pointer;
}

/** parte de los puntos/notas **/

.container-box{
    
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 30px 0;
}
.box-icon{
    width: 100px;
    height: 100px;
    border: 2px solid #999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: darkblue;
}
.box-icon:hover{
    color: lightblue;
}
.box-content{
    width: 70%;
}
.box-title{
    color: darkblue;
    margin: 0;
}
.box-text{
    color: #999;
}


/** parte de los Testimonios - Comentarios **/

.container-testimonials{
    margin: 50px auto;
    max-width: 550px;
}
.testimonials-title{

}
.testimonials-img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover; /** arregla la calidad de imagen al reducirla **/
    margin: auto;
}
.testimonials-text{
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    color: #777;
}
.testimonials-name{
    text-align: center;
    font-size: 1.4em;
    color: #3b5998;
    font-weight: bold;
    /** text-transform: uppercase; si quiero todo el texto en mayuscula **/
}

/** parte de la Suscripción **/

.newsletter{
    margin: 50px auto;
    max-width: 550px;

}
.formulario{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 600px;
}
.form-email{
    background: #ddd;
    display: block;
    padding: 15px;
    width: 80%;
    border: none;
    font-size: 0.8em;
}
.form-email:hover{
    border: 1px solid grey;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.6)
}
.form-submit{
    display: block;
    background: white;
    color: cornflowerblue;
    border: 0.5px solid grey;
    border-radius: 10px;
    text-decoration:underline lightblue 0.5px;
    -webkit-text-stroke: 0.10px black;
    text-align: center; 
    padding: 10px;
    width: 15%;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.6s;
}
.form-submit:hover{
    background: cornflowerblue;
    color: white;
    cursor: pointer;
    border: 0.5px solid grey;
    -webkit-text-stroke: 0.10px black;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.6)       
}

/** parte del footer **/

.main-footer{
    background: #282828;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.columnas-columna--50-25{
    width: 48%;
    padding: 20px;
}
.footer-title{
    font-size: 1.8em;
    color: wheat;
    text-align: left;
}

.footer-texto{
    

}
.footer-author{
    text-align: right;
    color: #EEAD33;
    display: block;
}
.footer-texto .fa-twitter{
    color:  #3bb3f5; 
    margin-right: 5px;
    
}
.footer-link{
    color: #EEAD33 ;
    text-decoration: none;
}
.footer-date{
    font-size: 0.8em;
    border-bottom: 1px solid  #888;
    color: white;
    padding-bottom: 10px
    
}
.footer-social{
    
}
.social-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.social-icon i {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}
.social-icon .fa-linkedin{
    background:#3b5998;
}
.social-icon .fa-instagram-square{
    background: lightyellow;
    
}
.social-icon .fa-twitter{
    background: #3bb3f5;
}
.social-link{
    display: block;
    text-decoration: none; 
    color: white;
}
.contact-icon{
    display: flex;
    align-items: center;
}
.contact-icon .fa{
    color: white;
    display: block;
    margin-right: 10px;
}
.contact-email{
    color: #EEAD33;
    text-decoration:none;
}
.bandera{
    width: 20px;
    height: 20px;
    border: 0.05px solid darkslateblue;
    border-radius: 10px;
    display: inline;
}

.copy{
    background: #211e1e;
    padding: 20px;
    color: white;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
}
.copy a{
    color:#EEAD33;
    font-size: 1.2em;
    text-decoration: none;
}


@media screen and (min-width: 768px){
    .main-header{
        width: 100%;
        margin-top: 15px;
    }
    
    .menu{
        position: absolute;
        margin-left: -40px;
        opacity: 1;
        visibility: visible;
        width: 100%;
        display: flex;
        background: none;
        font-size: 0.8em;
        margin-top: 45px;
    }
    .menu-item{
        width: 100%;
    }
    .icon-menu{
        display: none;
    }
    .main-title{
        font-size: 2.4em;
        width: auto;
        text-align: center;
        margin-top: 10px;
    }
    .nav-social{
        margin-top: -40px;
    }

    .banner-title{
        font-size: 1.8em;
    } 
    .banner-text{
        font-size: 1.2em;
    }
    .banner{
        min-height: 500px;
        width: 100%;
    }
    .banner::before{
        min-height: 500px;
        width: 100%;
    }
    .main{
        margin-top: 405px;
    }
    .box{
        justify-content: center;
    }
    .box-icon{
        margin-right: 30px;
    }
      
    .container-tips .learn-item{
        height: 100%;
    }
    .container-tips .learn-img{
        height: 100%;
        object-fit: cover;  /** para que la imagen no se estire **/
    }       
}
@media screen and (min-width: 1024px){
    .main-title{
        font-size: 2.8em;
        width: auto;
        text-align: center;
        margin-top: 25px;
    }
    .banner-title{
        font-size: 1.8em;
    } 
    .banner-text{
        font-size: 1.2em;
    }
    .menu-item{
        width: auto;
    }
    .menu{
        padding: 10px;
        margin-top: 60px;
        margin-left: -20px;
    }
    .nav-social{
        margin-top: -45px;
    }
    .banner{ 
        min-height: 550px;
    }
    .banner::before{
        min-height: 550px;
    }
    .main{
        margin-top: 435px;
    }
    .container-tips{
        display: flex;
        flex-wrap: wrap;
        max-height: 600px;
        margin: 50px auto;
    }
    .container-learn{
        width: 100%;
        flex-wrap: wrap;
        display: flex 
    }
    .learn-item{
        width: 50%;
    }
    
    .container-box{
        width: 50%;
    }
    
    .container-tips .learn-item{
        height: 100%;
    }
    .container-tips .learn-img{
        height: 100%;
        object-fit: cover;  /** para que la imagen no se estire **/
    }
    .columnas-columna--50-25{
        width: 24%;
    }
    .container-testimonials{
        margin: 40px auto;
    }
    .newsletter{
        margin: 50px auto;
    }
}
